
*.vsidx

maui/InterestPointClient/.vs/InterestPointClient/FileContentIndex/read.lock

maui/InterestPointClient/.vs/InterestPointClient/v17/

maui/.vs/

maui/InterestPointClient/.vs/

*.cache

server/Backend/Backend/obj/Debug/net6.0/

server/Backend/Backend/obj/
